<div class="wrapper hold-transition skin-blue fixed sidebar-mini">
    <app-hd></app-hd>
    <app-sbar></app-sbar>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {{companyModel.companyName}} Profile 
                <small>{{lcdaModel.lcdaName}} LCDA.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="javascript:;"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a [routerLink]="['/company',lcdaModel.id]">LCDA Companies</a></li>
                <li class="active">{{companyModel.companyName}} Profile </li>
            </ol>
        </section>
        <section class="content" style="border-style:thin">
            <div class="row">
                <div class="col-md-6">
                    <coy-mini-profile [companyModel]="companyModel"></coy-mini-profile>
                </div>
                <div class="col-md-6">
                    <user-contact [profileModel]="profileModel"></user-contact>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <address-comp [profileModel]="profileModel"></address-comp>
                </div>
            </div>
        </section>
    </div>
</div>
<ft></ft>
<div class="loading" *ngIf="isLoading"></div>