<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Company Profile</h3>
    </div>
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">Company Name</label>
                        <input  [(disabled)]='isDisabled' name="companyName" [(ngModel)]="companyModel.companyName" type="text" class="form-control" id="companyName" placeholder="Enter Company Name">
                    </div>
                    <div class="form-group">
                        <label for="sectorId">Select Sector</label>
                        <select  [(disabled)]='isDisabled' id="sectorId" name="sectorId" class="form-control" [(ngModel)]="companyModel.sectorId">
                                <option>Select Sector</option>
                            <option *ngFor="let data of sectors;" [ngValue]="data.id">{{data.sectorName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Select Category</label>
                        <select [(disabled)]='isDisabled' id="categoryId" name="categoryId" class="form-control" [(ngModel)]="companyModel.categoryId">
                                <option>Select Category</option>
                            <option *ngFor="let data of categories;" [ngValue]="data.id">{{data.taxpayerCategoryName}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyStatus">Company Status</label>
                        <input disabled="disabled" name="companyStatus" [(ngModel)]="companyModel.companyStatus" type="text" class="form-control" id="companyName" placeholder="Enter Company Name">
                    </div>
                    <div class="form-group">
                        <label for="lastmodifiedby">last Modified By</label>
                        <input disabled="disabled" name="lastmodifiedby" 
                        value="{{companyModel.lastmodifiedby !== null ? companyModel.lastmodifiedby: companyModel.createdBy}}" type="text" class="form-control" id="lastmodifiedby" placeholder="Enter Company Name">
                    </div>
                    <div class="form-group">
                        <label for="dateCreated">Last Modified Date</label>
                        <input disabled="disabled" name="dateCreated" 
                        value="{{(companyModel.lastModifiedDate !== null ? companyModel.lastModifiedDate :companyModel.dateCreated) | date: 'dd-MM-yyyy HH:mm:ss'}}" type="text" class="form-control" id="dateCreated" placeholder="Enter Company Name">
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <button type="button" class="btn btn-info" (click)="toggle()">{{companyModel.eventType}}</button>
            <button [(disabled)]='isDisabled' [ladda]="companyModel.isLoading" type="submit" 
            class="btn btn-primary pull-right" (click)="actions()">Submit</button>
        </div>
    </form>
</div>