<div class="modal fade" role="dialog" id="paymentListModal" #paymentListModal>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Receipt for bill Number {{dnpModel.billingNumber}}</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Receipt List</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="padding:5px;">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Payment Amount</th>
                                            <th>Payment Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of paymentList; let i=index">
                                            <td>
                                                <a *ngIf="data.paymentStatus === 'APPROVED'" href="javascript:;"
                                                    (click)="downloadReciept(data.id,data.billingNumber)">Download</a>
                                            </td>
                                            <td>{{data.amount}}</td>
                                            <td>{{data.dateCreated| date}}</td>
                                            <td>{{data.paymentStatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="loading" *ngIf="isLoadingReceipt"></div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="paymentModal" #paymentModal>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Amount due for bill Number {{amountDueModel.billingNumber}}</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Make Payment</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="padding:5px;">
                                <div class="form-group">
                                    <label for="referenceNumber">Enter name on reciept (Optional)</label>
                                    <input name="otherNames" class="form-control"
                                        [(ngModel)]="dnpModel.otherNames" />
                                </div>

                                <div class="form-group">
                                    <label for="startDate">Payment Date</label>
                                    <my-date-picker name="startDate" [options]="myDatePickerOptions"
                                        (dateChanged)="onDateChanged($event,'dateCreated')"></my-date-picker>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="bankId">Select Bank</label>
                                        <select id="bankId" name="bankId" class="form-control"
                                            [(ngModel)]="dnpModel.bankId">
                                            <option>Select Bank</option>
                                            <option *ngFor="let data of banks;" [ngValue]="data.id">{{data.bankName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="referenceNumber">Reference Number</label>
                                    <input name="referenceNumber" class="form-control"
                                        [(ngModel)]="dnpModel.referenceNumber" />
                                </div>
                                <div class="form-group">
                                    <label for="amount">Amount</label>
                                    <input name="amount" class="form-control" [(ngModel)]="dnpModel.amount" />
                                </div>
                                <!-- <div class="form-group">
                                    <div class="form-check col-sm-12">
                                        <input type="checkbox" class="form-check-input" id="IsWaiver"
                                            [checked]="dnpModel.IsWaiver"
                                            (change)="dnpModel.IsWaiver = !dnpModel.IsWaiver">
                                        <label class="form-check-label" for="IsWaiver">Should be a waver? check if
                                            yes?</label>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="box-footer">
                            <button [ladda]="isLoadingMini" type="submit" class="btn btn-success"
                                (click)="registerpayment()">Submit</button>
                            <button type="submit" class="btn btn-danger " data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="addModal" #addModal>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Amount due for bill Number {{amountDueModel.billingNumber}}</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fill in the details</h3>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group col-md-6">
                                        <label for="category">Category</label>
                                        <input disabled="disabled" name="category" class="form-control"
                                            [(ngModel)]="amountDueModel.category" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="itemDescription">Item Description</label>
                                        <input disabled="disabled" name="itemDescription" class="form-control"
                                            [(ngModel)]="amountDueModel.itemDescription" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group col-md-6">
                                        <label for="itemAmount">Amount due</label>
                                        <input name="itemAmount" class="form-control"
                                            [(ngModel)]="amountDueModel.itemAmount" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for=""></label>
                                        <br>
                                        <button [ladda]="amountDueModel.isLoading" type="submit" class="btn btn-primary"
                                            (click)="updateValue()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <th style="width:40px;"></th>
                                        <th>Category</th>
                                        <th>Item Description</th>
                                        <th>Item Amount</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of amountDueList; let i=index">
                                            <td>
                                                <a href="javascript:;" (click)="selectItems(data)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td>{{data.category}}</td>
                                            <td>{{data.itemDescription}}</td>
                                            <td>{{data.itemAmount|number:'1.2'}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Total amount due</td>
                                            <td>{{getSum('itemAmount')|number:'1.2'}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Total Amount Paid</td>
                                            <td>{{amountPaid|number:'1.2'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="loading" *ngIf="isLoading"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="addArrears" #addArrears>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Arrears to {{amountDueModel.billingNumber}}</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fill in the details</h3>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group col-md-6">
                                        <label for="itemId">Select Item</label>
                                        <select name="itemId" id="itemId" class="form-control"
                                            [(ngModel)]="amountDueModel.itemId">
                                            <option>Select Item</option>
                                            <option *ngFor="let data of items;" [ngValue]="data.id">
                                                {{data.itemDescription}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="itemAmount">Amount</label>
                                        <input name="itemAmount" class="form-control"
                                            [(ngModel)]="amountDueModel.itemAmount" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group col-md-6">
                                        <label for=""></label>
                                        <button [ladda]="amountDueModel.isLoading" type="submit" class="btn btn-primary"
                                            (click)="submitArrears()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="loading" *ngIf="isLoading"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" id="prepayment" #prepayment>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Amount due for bill Number {{amountDueModel.billingNumber}}</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fill in the details</h3>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <th style="width:40px;"></th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of prepaymentLst; let i=index">
                                            <td>
                                                <b>{{i+1}}</b>
                                            </td>
                                            <td>{{data.amount|number:'1.2'}}</td>
                                            <td>{{data.prepaymentStatus}}</td>
                                            <td><a href="javascript:;" (click)="togglePrepayment(data)">
                                                <i class="fa fa-caret-square-o-down"></i>
                                            </a></td>
                                        </tr>
                                        <tr *ngIf="prepaymentLst.length < 1">
                                            <td style="width:100%" colspan="4">No record !!!</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="loading" *ngIf="isLoading"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    #cancelDemandNoticeModal>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cancel Demand Notice</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="box-body">
                    You are about to cancel
                    <b>{{dnpModel.billingNumber}}</b> demand notice.
                    <br> Are you sure?
                </div>
                <div class="box-footer">
                    <button [ladda]="isLoadingMini" type="submit" class="btn btn-success"
                        (click)="submitCancel()">Submit</button>
                    <button type="submit" class="btn btn-danger " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    #UnbilledModal>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{selectDemandNotice?.isUnbilled?'Move to bills':'Move to Unbilled'}}</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="box-body">
                    Are you sure?
                </div>
                <div class="box-footer">
                    <button [ladda]="isLoadingMini" type="submit" class="btn btn-success"
                        (click)="submitUnbilled()">Submit</button>
                    <button type="submit" class="btn btn-danger " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    #editAddressModal>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{selectDemandNotice?.isUnbilled?'Move to bills':'Move to Unbilled'}}</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="box-body">
                    Are you sure?
                </div>
                <div class="box-footer">
                    <button [ladda]="isLoadingMini" type="submit" class="btn btn-success"
                        (click)="submitUnbilled()">Submit</button>
                    <button type="submit" class="btn btn-danger " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content-header">
    <h1>
        Search Taxpayer
        <small>Manage Taxpayer's Demand Notice.</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li>
            <a [routerLink]="['/demandNotice']">
                <i class="fa fa-dashboard"></i> Demand Notice</a>
        </li>
        <li class="active">Taxpayers</li>
    </ol>
</section>
<!-- <section class="content" style="border-style:thin">
</section> -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Search Taxpayer</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-md-3">
                                <label for="wardId">Enter query</label>
                                <input name="wardId" class="form-control" [(ngModel)]="searchModel.billingNo" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="form-group col-sm-3" style="margin-left:13px;">
                                <button [ladda]="searchModel.isLoading" type="submit" class="btn btn-primary"
                                    (click)="search()">
                                    Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <th style="width:40px;"></th>
                                    <th style="width:40px;"></th>
                                    <th>Billing Number</th>
                                    <th>Taxpayers Name</th>
                                    <th>Billing Year</th>
                                    <th>Address</th>
                                    <th>Ward</th>
                                    <th>LCDA </th>
                                    <th>Payment Status</th>
                                    <th>Bill Status</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of taxpayersLst; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>
                                            <div class="btn-group" *ngIf="data.demandNoticeStatus !== 'CANCEL'">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="javascript:;" (click)="downloadDN(data.billingNumber)">
                                                            <i class="fa fa-download"></i> Download Demand
                                                            notice
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" (click)="openEdit(data.billingNumber)">
                                                            <i class="fa fa-edit"></i> Edit </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" (click)="openPrepayment(data.taxpayerId)">
                                                            <i class="fa fa-edit"></i> Prepayment </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" (click)="openArrears(data)">
                                                            <i class="fa fa-plus"></i> Add Arrears </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" (click)="openCancel(data.billingNumber)">
                                                            <i class="fa fa-exclamation-triangle"></i> Cancel
                                                            Demand Notice </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"
                                                            (click)="openPayment(data.billingNumber)">
                                                            <i class="fa fa-money"></i> Make Payment </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"
                                                            (click)="openReciept(data.billingNumber)">
                                                            <i class="fa fa-sticky-note-o"></i> Download
                                                            Reciept </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" (click)="openUnbilled(data)">
                                                            <i class="fa fa-exclamation-triangle"></i>
                                                            {{data.isUnbilled?'Move to billed':'Move to
                                                                    Unbilled'}}
                                                        </a>
                                                    </li><li>
                                                        <a href="javascript:;" (click)="openEditAddress(data)">
                                                            <i class="fa fa-edit"></i> Edit Address </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{data.billingNumber}}</td>
                                        <td>{{data.taxpayersName}}</td>
                                        <td>{{data.billingYr}}</td>
                                        <td>{{data.addressName}}</td>
                                        <td>{{data.wardName}}</td>
                                        <td>{{data.lcdaName}}</td>
                                        <td>{{data.demandNoticeStatus}}</td>
                                        <td>{{data.isUnbilled?'UnBilled':'Billed'}}</td>
                                    </tr>
                                    <tr *ngIf="taxpayersLst.length < 1">
                                        <td style="width:100%" colspan="10">No record !!!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="9">
                                            <nav *ngIf="pageModel.totalPageCount > 1">
                                                <ul class="pagination">
                                                    <li>
                                                        <a aria-label="Previous" (click)="previous()">
                                                            <span aria-hidden="true">Previous</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a aria-label="Next" (click)="next()">
                                                            <span aria-hidden="true">Next </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <span aria-hidden="true">{{pageModel.pageNum}} of
                                                            {{pageModel.totalPageCount}} </span>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="loading" *ngIf="isLoading"></div>