<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" #downRequestPrompt>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Download Request</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="box-body">
                    You are about to raise Download Request in zip file for batch number
                    <b>{{batchNo}}</b>.
                    <br> Are you sure?
                </div>
                <div class="box-footer">
                    <button [ladda]="isLoadingMini" type="submit" class="btn btn-success" (click)="addRaiseRequest()">Submit</button>
                    <button type="submit" class="btn btn-danger " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="addModal" #downloadRequestModal>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Download Raised Request</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Download all raised request for batch {{batchNo}}</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <th style="width:120px;"></th>
                                    <th>Batch Number</th>
                                    <th>Request Status</th>
                                    <th>Date Created</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of dowloadRequestList; let i=index">
                                        <td>
                                            <a *ngIf="data.requestStatus === 'COMPLETED'" href="javascript:;" (click)="downloadDN(data.batchNo)">
                                                <i class="fa fa-download"></i> Download
                                            </a>
                                        </td>
                                        <td>{{data.batchNo}}</td>
                                        <td>{{data.requestStatus}}</td>
                                        <td>{{data.dateCreated|date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                                    </tr>
                                    <tr *ngIf="dowloadRequestList.length < 1">
                                        <td style="width:100%" colspan="6">No record !!!</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="loading" *ngIf="isLoadingMini"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="content-header">
    <h1>
        Demand Notice
        <small>Manage Demand Notice.</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Demand Notice</li>
    </ol>
</section>

<section class="content" style="border-style:thin">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Demand Notice List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-md-3">
                                <label for="wardId">Select Ward</label>
                                <select (change)="loadStreets($event.target.value)" name="wardId" class="form-control" [(ngModel)]="searchModel.wardId">
                                    <option>Select Ward</option>
                                    <option *ngFor="let data of wardLst;" [ngValue]="data.id">{{data.wardName}}({{data.lcdaName}})</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="streetId">Select Street</label>
                                <select name="streetId" class="form-control" [(ngModel)]="searchModel.streetId">
                                    <option>Select Street</option>
                                    <option *ngFor="let data of streetLst;" [ngValue]="data.id">{{data.streetName}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="dateYear">Select Year</label>
                                <select name="dateYear" class="form-control" [(ngModel)]="searchModel.dateYear">
                                    <option>Select Year</option>
                                    <option *ngFor="let data of yrLst;" [ngValue]="data">{{data}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-check col-sm-3">
                                <input type="checkbox" class="form-check-input" id="isClosedData" 
                                [checked]="searchModel.isClosedData" 
                                (change)="searchModel.isClosedData = !searchModel.isClosedData" >
                                <label class="form-check-label" for="isClosedData">Closed Previous record(s)</label>
                            </div>
                            <div class="form-check col-sm-3">
                                <input type="checkbox" class="form-check-input" id="runArrears" 
                                [checked]="searchModel.runArrears" 
                                (change)="searchModel.runArrears = !searchModel.runArrears" >
                                <label class="form-check-label" for="runArrears">Process Arrears</label>
                            </div>
                            <div class="form-check col-sm-3">
                                <input type="checkbox" class="form-check-input" id="isUnbilled" 
                                [checked]="searchModel.isUnbilled" 
                                (change)="searchModel.isUnbilled = !searchModel.isUnbilled" >
                                <label class="form-check-label" for="isUnbilled">Is Unbilled</label>
                            </div>
                             <div class="form-check col-sm-3">
                                <input type="checkbox" class="form-check-input" id="runPenalty" 
                                [checked]="searchModel.runPenalty" 
                                (change)="searchModel.runPenalty = !searchModel.runPenalty" >
                                <label class="form-check-label" for="runPenalty">Run Penalty</label>
                            </div>
                            <div class=" col-sm-3">
                                <div class="btn-group">
                                        <button [ladda]="searchModel.isProcessingRequest" 
                                        type="submit" class="btn btn-primary" (click)="submitDemandRequest()">Run</button>
                                        <button [ladda]="searchModel.isLoading" 
                                    type="submit" class="btn btn-primary" (click)="searchDemandNotice()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <th style="width:120px;"></th>
                                    <th>Batch Number</th>
                                    <th>Ward Name</th>
                                    <th>Street Name</th>
                                    <th>Billing Year</th>
                                    <th>Status</th>
                                    <!-- <th>Errors Updates</th>-->
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of demandNoticeLst; let i=index">
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="javascript:;" (click)="open('RAISE_REQUEST',data)">
                                                            <i class="fa fa-send"></i>Raise download request
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a (click)="open('DOWNLOAD_REQUEST',data)">
                                                            <i class="fa fa-download"></i> Download</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </td>
                                        <td>
                                            <a [routerLink]="['taxpayer',data.batchNo]">{{data.batchNo}}</a>
                                        </td>
                                        <td>{{data.demandNoticeRequest.wardName}}</td>
                                        <td>{{data.demandNoticeRequest.streetName}}</td>
                                        <td>{{data.billingYear}}</td>
                                        <td>{{data.demandNoticeStatus}}</td>
                                        <!-- <td>
                                                <a href="javascript:;">Error update</a>
                                            </td>-->
                                    </tr>
                                    <tr *ngIf="demandNoticeLst.length < 1">
                                        <td style="width:100%" colspan="6">No record !!!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <nav *ngIf="demandNoticeLst.length > 0">
                                                <ul class="pagination">
                                                    <li>
                                                        <a aria-label="Previous" (click)="previous()">
                                                            <span aria-hidden="true">Previous</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a aria-label="Next" (click)="next()">
                                                            <span aria-hidden="true">Next </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <span aria-hidden="true">{{pageModel.pageNum}} of {{pageModel.totalPageCount}} </span>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content"></section>
<div class="loading" *ngIf="isLoading"></div>