<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    #promptRequest>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Action</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="box-body">
                    You are about running taxpayer's {{actionSelected}}.
                    <br> Are you sure?
                </div>
                <div class="box-footer">
                    <button [ladda]="isLoadingMini" type="submit" class="btn btn-success" (click)="submitAction()">Yes</button>
                    <button type="submit" class="btn btn-danger " data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="content-header">
    <h1>
        Demand Notice
        <small>Manage Demand Notice.</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Demand Notice</li>
    </ol>
</section>

<section class="content" style="border-style:thin">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Demand Notice List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-md-3">
                                <label for="wardId">Select Ward</label>
                                <select (change)="loadStreets($event.target.value)" name="wardId" class="form-control"
                                    [(ngModel)]="searchModel.wardId">
                                    <option>Select Ward</option>
                                    <option *ngFor="let data of wardLst;" [ngValue]="data.id">
                                        {{data.wardName}}({{data.lcdaName}})</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="streetId">Select Street</label>
                                <select name="streetId" class="form-control" [(ngModel)]="searchModel.streetId">
                                    <option>Select Street</option>
                                    <option *ngFor="let data of streetLst;" [ngValue]="data.id">{{data.streetName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="dateYear">Select Year</label>
                                <select name="dateYear" class="form-control" [(ngModel)]="searchModel.dateYear">
                                    <option selected="selected">Select Year</option>
                                    <option *ngFor="let data of yrLst;" [ngValue]="data">{{data}}</option>
                                </select>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="form-check col-sm-12">
                                    <label class="form-check-label" for="period">Select Period</label>
                                    <select name="period" class="form-control" [(ngModel)]="searchModel.period">
                                        <option selected="selected" value="-1">Select Demand Notice Period</option>
                                        <option value="1">1st Quarter</option>
                                        <option value="2">2nd Quarter</option>
                                        <option value="3">3rd Quarter</option>
                                        <option value="4">Yearly</option>
                                    </select>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                <label for="searchByName">Taxpayer Name</label>
                                <input name="searchByName" type="text" class="form-control" [(ngModel)]="searchModel.searchByName" />
                            </div>
                            <div class="col-sm-6">
                                <label for="searchByName"></label>
                                <div class="btn-group form-control" style="border-color: white;">
                                    <button type="submit" class="btn btn-primary" (click)="navigateView()">View</button>
                                    <button [ladda]="searchModel.isLoading" type="submit" class="btn btn-primary"
                                        (click)="searchDemandNotice()">Search</button>
                                    <button [ladda]="searchModel.isLoading" type="submit" class="btn btn-primary"
                                        (click)="promptAction('ARREARS')">Run Arrears</button>
                                    <button [ladda]="searchModel.isLoading" type="submit" class="btn btn-primary"
                                        (click)="promptAction('PENALTY')">Run Penalties</button>
                                    <button [ladda]="searchModel.isLoading" type="submit" class="btn btn-primary"
                                        (click)="promptAction('DOWNLOAD')">Download (DN)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <th>S/N</th>
                                    <th>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="masterCheck" [checked]="masterCheck"
                                                (change)="CheckAll()">
                                            <label class="form-check-label" for="masterCheck">All</label>
                                        </div>
                                    </th>
                                    <th>Billing Number</th>
                                    <th>Taxpayer</th>
                                    <th>Ward Name</th>
                                    <th>Street Name</th>
                                    <th>Billing Year</th>
                                    <th>Status</th>
                                    <th>Is Unbilled</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of demandNoticeLst; let i=index">
                                        <td>{{((pageModel.pageNum-1)*pageModel.pageSize)+(i+1)}}</td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" [(ngModel)]="data.isChecked"
                                                    id="{{data.id}}">
                                                <label class="form-check-label" for="runAll"></label>
                                            </div>
                                        </td>
                                        <td>{{data.billingNumber}}</td>
                                        <td>{{data.taxpayersName}}</td>
                                        <td>{{data.wardName}}</td>
                                        <td>{{data.streetName}}</td>
                                        <td>{{data.billingYr}}</td>
                                        <td>{{data.demandNoticeStatus}}</td>
                                        <td>{{data.isUnbilled? "Yes":"No"}}</td>
                                    </tr>
                                    <tr *ngIf="demandNoticeLst.length < 1">
                                        <td style="width:100%" colspan="8">No record !!!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <nav *ngIf="demandNoticeLst.length > 0">
                                                <ul class="pagination">
                                                    <li>
                                                        <a aria-label="Previous" (click)="previous()">
                                                            <span aria-hidden="true">Previous</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a aria-label="Next" (click)="next()">
                                                            <span aria-hidden="true">Next </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <span aria-hidden="true">{{pageModel.pageNum}} of
                                                            {{pageModel.totalPageCount}} </span>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content"></section>
<div class="loading" *ngIf="isLoading"></div>