<!DOCTYPE html>
<html>
<head>
    <style>
        #heading {
             height: 100px;
             clear:both;
             width:100%;
         }
         tr {
             height:30px;
         }
         td {

         }
         .bTable{
              border-spacing: 0;
             border-collapse: collapse; /* here is the devil */
         }
         .bTable td{
             border-right: solid 1px #000;
             border-left: solid 1px #000;
         }
         .bTable th{
             border-right: solid 1px #000;
             border-left: solid 1px #000;
         }
         .center ul {
             width: -moz-fit-content;
             width: -webkit-fit-content;
             width: fit-content;
             margin: auto;
         }
    </style>
</head>
<body style="font-family:Calibri;font-size:20px;">
    <div style="width:90%;margin-left:3%;margin-right:3%;margin-bottom:2%;">
        <!--<div id="heading">
            
        </div>-->
	<br /><br /><br /><br /><br />
        <div>
            <p style="float:right;margin:2px;padding:2px;"><b>BILL NO: BILL_NO</b></p>
        </div>

        <div style="clear:both;"></div>
        <div id="sub_heading" style="height:100px;width:100%;">
            <div style="float:left;">
                <p style="margin:0;padding:0;"><b>Rate Payer's Name: PAYER_NAME</b></p>
                <p style="margin:0;padding:0;"><b>Address: PAYER_ADDRESS</b></p>
                <p style="margin:0;padding:0;"><b>Ward: WARD_NAME</b></p>
                <p>Dear Sir/Ma</p>
            </div>
            <div style="float:right;">
                <p style="margin:0;padding:0;"><b>Date: CURRENT_DATE</b></p>
                <p style="margin:0;padding:0;"><b>Year of Billing: BILLING_YEAR</b></p>
            </div>
        </div>

        <div id="rpt_body" style="width:100%;">
			<div style="width:100%;text-align:center;margin-left:-20%;">
				<h3>DEMAND NOTICE</h3>
			</div>
            <p style="margin-left:8%;">
                This is to inform you of your indebtedness to LCDA_NAME as noted.
            </p>
            <p style="margin-left:8%;">
                Here under prompt payment would however be appreciated.
            </p>
			<div style="text-align:center;">
            <table class="bTable" style="margin-left:10%;width:70%;border: 1px solid black; text-align:left;">
                <tr style="border: 1px solid black;">
                    <th style="width:4%;"> S/N</th>
                    <th style="width:40%; border-style:1px 0px 1px 0px">DESCRIPTION</th>
                    <th style="width:30%;">AMOUNT</th>
                </tr>
                <tbody>
                    
                    ITEMLIST
                    <tr>
                        <td></td>
                        <td style="text-align:center;">Arrears</td>
                        <td>ARREARS_AMMOUNT</td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td></td>
                        <td style="text-align:center;">Penalty</td>
                        <td>PENALTY_AMOUNT</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:center;">Grand Total</td>
                        <td>GRAND_TOTAL</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:center;">Charges</td>
                        <td>CHARGES</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:center;">Total Due</td>
                        <td>FINAL_TOTAL</td>
                    </tr>
                </tbody>
            </table>
			</div>
            <p style="margin-left:8%">AMOUNT_IN_WORD</p>
            <p style="margin-left:8%">Served by: ___________________________________________________</p>
            <p style="margin-left:8%">Date : _______________________________________________________</p>

            <p style="margin-left:8%;line-height: 20px;">
                PLEASE PAY DIRECTLY INTO THE UNDERNEATH DESIGNATED BANK, COLLECT RECEIPT AND FINAL CERTIFICATE OF PAYMENT FROM THE OFFICE OF THE
                COUNCIL TRASURER, WITHOUT THESE YOUR PAYMENT IS NULL AND VOID.
            </p>

            <table style="margin-left:8%;width:100%;margin-top:-20px;">
                <tr style="width:100%">
                    <td style="width:60%">
                        <ul style="float:left; margin-right:10px;list-style:decimal;margin-top:-30px;">
                            BANKLIST
                        </ul>
                    </td>
                    <td style="width:30%">
                        <div style="vertical-align:bottom;float:left;">
                            <br />
                            <br />
                            <!--<img src="COUNCIL_TRESURER_SIG" style="width:50px;height:50px;" />-->
                            <br /><br/><br/>
                            __________________
						<br />
                            Council Treasurer
                        </div>						   
                    </td>
                    
                </tr>
            </table>

            <div style="clear:both;"></div>
        </div>

        <div style="text-align:center;width:70%;margin-left:auto;margin-right:auto;">
            <p>
                PLEASE PRODUCE THIS DEMAND NOTE INTACT AT THE TIME OF PAYMENT.
            </p>
            <p>
                If payment is not made within 21 days of the date of this demand notice, legal proceedings may be taken immeediately.
            </p>
        </div>
<br /><br /><br /><br /><br /><br />
    </div>
</body>
</html>