<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" #changestatus>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Approve LCDA</h4>
            </div>
            <div class="modal-body clearfix">
                <div [ngClass]="lcdaModel.errClass" *ngIf="lcdaModel.isErrMsg">
                    {{lcdaModel.msg}}
                </div>
                <div class="box-body">
                    You are about to
                    <b> {{lcdaModel.lcdaStatus === 'ACTIVE'?'deactivate':'approve'}}</b> {{lcdaModel.lcdaName}}. Are you sure?
                </div>
                <div class="box-footer">
                    <button [ladda]="lcdaModel.isLoading" type="submit" class="btn btn-success" (click)="addLCDA()">Submit</button>
                    <button type="submit" class="btn btn-danger " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="addModal" #addModal>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add LCDA</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fill in the details</h3>
                        </div>
                        <div [ngClass]="lcdaModel.errClass" *ngIf="lcdaModel.isErrMsg">
                            {{lcdaModel.errMsg}}
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="lcdaName">LCDA Name</label>
                                <input name="lcdaName" [(ngModel)]="lcdaModel.lcdaName" type="text" class="form-control" id="lcdaName" placeholder="Enter LCDA Name">
                            </div>
                            <div class="form-group">
                                <label for="lcdaCode">LCDA Code</label>
                                <input name="lcdaCode" [(ngModel)]="lcdaModel.lcdaCode" type="text" class="form-control" id="lcdaCode" placeholder="Enter LCDA Code">
                            </div>
                            <div class="form-group">
                                <label for="lcdaCode">Select Domain</label>
                                <select id="domainId" name="domainId" class="form-control" [(ngModel)]="lcdaModel.domainId">
                                    <option *ngFor="let data of domainList;" [ngValue]="data.id">{{data.domainName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button [ladda]="lcdaModel.isLoading" type="submit" class="btn btn-primary" (click)="addLCDA()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="wrapper hold-transition skin-blue fixed sidebar-mini">
    <app-hd></app-hd>
    <app-sbar></app-sbar>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                LCDA Management
                <small>Manage and register LCDA.</small>
            </h1>
        </section>

        <section class="content" style="border-style:thin">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">LCDA List</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <p>
                                <button class="btn btn-primary" (click)="open('ADD',null)">
                                    <i class="fa fa-plus"></i> Add</button>
                            </p>
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:120px;"></th>
                                        <th style="width:50px;"></th>
                                        <th>LCDA Name</th>
                                        <th>LCDA Code</th>
                                        <th>LCDA Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of lcdaLst; let i=index">
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="javascript:;" (click)="open('EDIT',data)">
                                                            <i class="fa fa-edit"></i>Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a (click)="open('CHANGE_STATUS',data)">
                                                            <i class="fa fa-cog"></i> {{data.lcdaStatus === 'ACTIVE'?'deactivate':'approve'}}</a>
                                                    </li>
                                                    <li>
                                                        <a [routerLink]="['/ward',data.id]">
                                                            <i class="fa fa-cog"></i> Wards </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </td>
                                        <td>{{(pageModel.pageSize*(pageModel.pageNum - 1))+(i+1)}}</td>
                                        <td>{{data.lcdaName}}</td>
                                        <td>{{data.lcdaCode}}</td>
                                        <td>{{data.lcdaStatus}}</td>
                                    </tr>
                                    <tr *ngIf="lcdaLst.length < 1">
                                        <td style="width:100%" colspan="5">No record !!!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <nav *ngIf="lcdaLst.length > 0">
                                                <ul class="pagination">
                                                    <li>
                                                        <a aria-label="Previous" (click)="previous()">
                                                            <span aria-hidden="true">Previous</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a aria-label="Next" (click)="next()">
                                                            <span aria-hidden="true">Next </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <span aria-hidden="true">{{pageModel.pageNum}} of {{pageModel.totalPageCount}} </span>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <ft></ft>
    <div class="loading" *ngIf="isLoading"></div>