<div class="modal fade" role="dialog" id="addModal" #addModal>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{taxpayerModel.eventType}} Taxpayer</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fill in the details</h3>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="surname">Surname</label>
                                <input name="surname" type="text" class="form-control" [(ngModel)]="taxpayerModel.surname" />
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="firstname">First Name</label>
                                <input name="firstname" type="text" class="form-control" [(ngModel)]="taxpayerModel.firstname" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="lastname">Last Name</label>
                                <input name="lastname" type="text" class="form-control" [(ngModel)]="taxpayerModel.lastname" />
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="wardId">Select Ward</label>
                                <select id="wardId" name="wardId" class="form-control" [(ngModel)]="taxpayerModel.wardId" (ngModelChange)="wardChanges($event)">
                                    <option>Select Ward</option>
                                    <option *ngFor="let data of wardlst;" [ngValue]="data.id">{{data.wardName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="streetId">Select Street</label>
                                <select id="streetId" name="streetId" class="form-control" [(ngModel)]="taxpayerModel.streetId">
                                    <option>Select Street</option>
                                    <option *ngFor="let data of streets;" [ngValue]="data.id">{{data.streetName}}</option>
                                </select>
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="streetNumber">Address Number</label>
                                <input name="streetNumber" type="text" class="form-control" [(ngModel)]="taxpayerModel.streetNumber" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-xs-6">
                                <label for="companyId">Select Company</label>
                                <select id="companyId" name="lcdaId" class="form-control" [(ngModel)]="taxpayerModel.companyId">
                                    <option>Select Company</option>
                                    <option *ngFor="let data of companies;" [ngValue]="data.id">{{data.companyName}}</option>
                                </select>
                            </div>
                            <!--<div class="form-group">
                            <label for="companyId">Select Company</label>
                            <select id="companyId" name="lcdaId" class="form-control" [(ngModel)]="taxpayerModel.companyId">
                                <option>Select Company</option>
                                <option *ngFor="let data of companies;" [ngValue]="data.id">{{data.companyName}}</option>
                            </select>
                        </div>-->
                        </div>
                        <div class="box-footer">
                            <button [ladda]="taxpayerModel.isLoading" type="submit" class="btn btn-primary" (click)="actions()">Submit</button>
                        </div>
                        <div class="loading" *ngIf="isAddLoading"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="wrapper hold-transition skin-blue fixed sidebar-mini">
    <app-hd></app-hd>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Taxpayer Management
                <small>Manage
                    <b> {{streetModel?.streetName}}</b>.</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li>
                    <a [routerLink]="['/street',streetModel.wardId]">Streets</a>
                </li>
                <li class="active">Taxpayers</li>
            </ol>
        </section>
        <div class="row">
            <section class="content" style="border-style:thin">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title"> {{streetModel?.streetName}} Taxpayers List</h3>
                            </div>
                            <div class="box-body">
                                <p>
                                    <button class="btn btn-primary" (click)="open('ADD',null)">
                                        <i class="fa fa-plus"></i> Add</button>
                                </p>
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:40px;"></th>
                                            <th style="width:50px;"></th>
                                            <th>Taxpayers name</th>
                                            <th>company Name</th>
                                            <th>Status</th>
                                            <th>Last Modified by</th>
                                            <th>Last Modified Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of taxpayers; let i=index">
                                            <td>
                                                <a href="javascript:;" (click)="open('EDIT',data)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td>{{(pageModel.pageSize*(pageModel.pageNum - 1))+(i+1)}}</td>
                                            <td>{{data.surname}} {{data.firstname}} {{data.lastname}}</td>
                                            <td>{{data.companyName}}</td>
                                            <td>{{data.taxpayerStatus}}</td>
                                            <td>{{data.lastmodifiedby?.length > 1? data.lastmodifiedby: data.createdBy}}</td>
                                            <td>{{(data.lastModifiedDate?.length === '' ?data.lastModifiedDate :data.dateCreated)|
                                                date}}
                                            </td>
                                        </tr>
                                        <tr *ngIf="taxpayers.length < 1">
                                            <td style="width:100%" colspan="9">No record !!!</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <nav *ngIf="taxpayers.length > 0">
                                                    <ul class="pagination">
                                                        <li>
                                                            <a aria-label="Previous" (click)="previous()">
                                                                <span aria-hidden="true">Previous</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a aria-label="Next" (click)="next()" *ngIf="pageModel.totalPageCount > pageModel.pageNum">
                                                                <span aria-hidden="true">Next </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <span aria-hidden="true">{{pageModel.pageNum}} of {{pageModel.totalPageCount}} </span>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<ft></ft>
<div class="loading" *ngIf="isLoading"></div>