<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" #changestatus>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{streetModel.streetStatus === 'ACTIVE'?'Deactivate':'Approve'}} Street</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="box-body">
                    You are about to
                    <b> {{streetModel.streetStatus === 'ACTIVE'?'deactivate':'approve'}}</b> {{streetModel.streetName}}. Are
                    you sure?
                </div>
                <div class="box-footer">
                    <button [ladda]="streetModel.isLoading" type="submit" class="btn btn-success" (click)="actions()">Submit</button>
                    <button type="submit" class="btn btn-danger " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="addModal" #addModal>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{streetModel.eventType}} STREET</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fill in the details</h3>
                        </div>
                        <div class="form-group">
                            <label for="streetName">Street Name</label>
                            <input name="streetName" [(ngModel)]="streetModel.streetName" type="text" class="form-control" id="streetName" placeholder="Enter Street Name">
                        </div>
                        <div class="form-group">
                            <label for="numberOfHouse">Number of Houses</label>
                            <input name="numberOfHouse" [(ngModel)]="streetModel.numberOfHouse" type="number" class="form-control" id="numberOfHouse"
                                placeholder="Enter total number Of Houses">
                        </div>
                        <div class="form-group">
                            <label for="streetDescription">Street Description</label>
                            <textarea class="form-control" placeholder="Enter Street Description" name="streetDescription" [(ngModel)]="streetModel.streetDescription"> </textarea>
                        </div>
                        <div class="box-footer">
                            <button [ladda]="streetModel.isLoading" type="submit" class="btn btn-primary" (click)="actions()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="wrapper hold-transition skin-blue fixed sidebar-mini">
    <app-hd></app-hd>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Street Management
                <small>Manage
                    <b> {{wardmodel?.wardName}}</b>.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="javascript:;"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a [routerLink]="['/ward',wardmodel.lcdaId]">Wards</a></li>
                <li class="active">Streets</li>
              </ol>
        </section>
        <div class="row">
            <section class="content" style="border-style:thin">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title"> {{wardmodel?.wardName}} Streets List</h3>
                            </div>
                            <div class="box-body">
                                <p>
                                    <button class="btn btn-primary" (click)="open('ADD',null)">
                                        <i class="fa fa-plus"></i> Add</button>
                                </p>
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:120px;"></th>
                                            <th style="width:50px;"></th>
                                            <th>Street Name</th>
                                            <th>Number of Houses</th>
                                            <th>Street Discription</th>
                                            <th>Street Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of streetModels; let i=index">
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="javascript:;" (click)="open('EDIT',data)">
                                                                <i class="fa fa-edit"></i>Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="open('CHANGE_STATUS',data)">
                                                                <i class="fa fa-cog"></i>
                                                                {{data.streetStatus === 'ACTIVE'?'Deactivate':'Approve'}}</a>
                                                        </li>
                                                        <li>
                                                            <a [routerLink]="['/taxpayers',data.id]">
                                                                <i class="fa fa-user"></i>
                                                                TaxPayers</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{(pageModel.pageSize*(pageModel.pageNum - 1))+(i+1)}}</td>
                                            <td>{{data.streetName}}</td>
                                            <td>{{data.numberOfHouse}}</td>
                                            <td>{{data.streetDescription.length > 0?data.streetDescription:'Nil'}}</td>
                                            <td>{{data.streetStatus}}</td>
                                        </tr>
                                        <tr *ngIf="streetModels.length < 1">
                                            <td style="width:100%" colspan="6">No record !!!</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <nav *ngIf="streetModels.length > 0">
                                                    <ul class="pagination">
                                                        <li>
                                                            <a aria-label="Previous" (click)="previous()">
                                                                <span aria-hidden="true">Previous</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a aria-label="Next" (click)="next()">
                                                                <span aria-hidden="true">Next </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <span aria-hidden="true">{{pageModel.pageNum}} of {{pageModel.totalPageCount}} </span>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<ft></ft>
<div class="loading" *ngIf="isLoading"></div>