<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" #removeContact>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remove Contact</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="box-body">
                    You are about to remove
                    <b> {{contactModel.contactType}}:{{contactModel.contactValue}}</b> from you contact list. Are
                    you sure?
                </div>
                <div class="box-footer">
                    <button [ladda]="contactModel.isLoading" type="submit" class="btn btn-success" (click)="contactAction()">Submit</button>
                    <button type="submit" class="btn btn-danger " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" id="addModal" #addModal>
    <div class=" modal-dialog ">
        <div class="modal-content " style="width:500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{contactModel.eventType === 'ADD'?'Add':'Edit'}} Contact</h4>
            </div>
            <form role="form">
                <div class="modal-body clearfix ">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fill in the details</h3>
                        </div>
                        <div class="box-body">
                            <add-contact [contactModel]='contactModel'></add-contact>
                        </div>
                        <div class="box-footer">
                            <button [ladda]="contactModel.isLoading" type="submit" class="btn btn-primary pull-right" (click)="contactAction()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<section>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Contact Details</h3>
    </div>
    <div class="box-body" style="height: 298px;">
        <p>
            <button class="btn btn-primary" (click)="open('ADD',null)">
                <i class="fa fa-plus"></i> Add</button>
        </p>
        <div class="row">
            <table class="table table-bordered" style="overflow-y:visible;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Contact Type</th>
                        <th>Contact</th>
                        <th>Last Modified Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of contactLst; let i=index" [attr.data-index]="i">
                        <td style="width: 10px">{{i+1}}</td>
                        <td>
                            <a href="javascript:;">
                                <i class="fa fa-edit" (click)="open('EDIT',data)"></i>
                            </a>|
                            <a>
                                <i class="fa fa-remove"  (click)="open('REMOVE',data)"></i>
                            </a>
                        </td>
                        <td>{{data.contactType}}</td>
                        <td>{{data.contactValue}}</td>
                        <td>{{(data.lastModifiedDate === null?data.dateCreated:data.lastModifiedDate)|date}}</td>
                    </tr>
                    <tr *ngIf="contactLst.length < 1">
                        <td style="width:100%" colspan="5">
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4>
                                    <i class="icon fa fa-info"></i> Contact details is Empty!!!</h4>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>
