<nav style="background-color:#acce46; height: 111px;" class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
    <span class="logo-lg">
        <img src="assets/dist/img/homeLogo.jpg" style="height:88px;" />
    </span>
    <span style="float:right;">
        <a [routerLink]="['login']"><i class="fa fa-sign-in" style="font-size:48px;color:#222;bottom:0px;"></i></a>
    </span>
</nav>
<div class="row">
    <div class="col-md-12">
        <div class="swiper-container main-slider" id="myCarousel">
            <carousel [sources]="imageSources" [config]="config"></carousel>
        </div>
    </div>
</div>

<ft></ft>