<div class="wrapper hold-transition skin-blue fixed sidebar-mini">
<app-hd></app-hd>

<app-sbar></app-sbar>

<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Revenue payment at ease</small>
      </h1>     
    </section>
    <section class="content">
      <div class="callout callout-info">
        <h4>Tip!</h4>

        <p>Add the fixed class to the body tag to get this layout. The fixed layout is your best option if your sidebar
          is bigger than your content because it prevents extra unwanted scrolling.</p>
      </div>
    </section>
  </div>

<ft></ft>
</div>