<div class="wrapper hold-transition skin-blue fixed sidebar-mini">
  <app-hd></app-hd>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Revenue payment at ease</small>
      </h1>
    </section>
    <div class="row">
      <section class="content">
        <!--<div class="callout callout-info">
          <h4>Tip!</h4>

          <p>Rems-NG features... Click the
            <b>More info</b> on each box to visit each features </p>
        </div>-->
        <div class="row" style="text-align:center;">         
          <div class="col-md-6">
            <h3>Total recievables by ward</h3>
            <canvas baseChart [datasets]="dataSourceReceivables.data" 
            [options]="dataSourceReceivables.barChartOptions" 
            [legend]="dataSourceReceivables.barChartLegend"
              [chartType]="dataSourceReceivables.barChartType" [labels]="dataSourceReceivables.label"
               #baseChart='base-chart'></canvas>              
          </div>
          <div class="col-md-6">
            <h3>Total amount recieved by ward</h3>
              <canvas baseChart [datasets]="dataSourceRevenue.data" 
              [options]="dataSourceRevenue.barChartOptions" 
              [legend]="dataSourceRevenue.barChartLegend"
                [chartType]="dataSourceRevenue.barChartType" [labels]="dataSourceRevenue.label"
                 #baseChart1 = 'base-chart'></canvas>              
            </div>
        </div>
      </section>
      <section class="content"></section>
    </div>
  </div>
</div>
<ft></ft>