<nav style="background-color:#acce46 " class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
    <span class="logo-lg">
        <img src="assets/dist/img/homeLogo.jpg" />
    </span>
    <span style="float:right;">
        <a [routerLink]="['login']"><i class="fa fa-sign-in" style="font-size:48px;color:#222;bottom:0px;"></i></a>
    </span>
</nav>

<div class="swiper-container main-slider" id="myCarousel">
    <carousel [sources]="imageSources" [config]="config"></carousel>
</div>

<section class="action-sec">
   
</section>
<footer style="width:100%;border-top: 1px solid white;
padding: 10px;
color: white;background-color: #222;">
    <div class="pull-right hidden-xs">
    </div>
    <strong>Copyright &copy; 2017
        <a href="javascript:;">BB MAB GLOBAL TECHNOLOGIES LTD</a>.</strong> All rights reserved.
</footer>